[2013-04-25 12:38] erickok opened #1 "Small build and usage issues"
Thanks for providing an Android-specific version, much better than the dependencies that came with the general Java version. Just some small remarks.

The readme provides a link to the compiled .jar (http://res.cloudinary.com/cloudinary/raw/upload/cloudinaryandroid-1.0.0.jar), but it leads to nothing. Also not sure if it should, as this is an Android library now.

The Cloudinary folder, with the A

[2013-05-30 21:09] miclovich opened #2 "Example Android app"
It would be great if an example application was provided, is that a possibility? {I followed the readme, but somehow, I'm not able to upload images from my android app, I like how the ruby gem works with batteries included, it is the android library am having problems with}.

[2013-06-14 07:06] miclovich opened #3 "java.lang.OutOfMemoryError (large images)"
Hi. How are large images being handled?

I've got the following code:

[code]

I keep getting an out of memory error. I suppose there is a way that the API/library can shrink the size of the image. Is there a fix or suggestion for how to fix this? #help

[2013-06-15 12:52] #3 closed, assigned to nobody

[2013-06-16 08:52] #2 closed, assigned to nobody

[2014-07-22 22:57] diegosax opened #6 "There's no Upload Progress Information"
It'd be nice if there was a callback function with the updated byte transferred so we could show a progress bar to the user just like in the Jquery Direct Upload Plugin

[2014-09-23 14:20] julio-cotta-edx opened #9 "upload file issue on Android"
I am unable to upload images to Cloudinary, look at this stack trackes

Android 4.4.4
[code]

Android 4.3
[code]
I am running the upload using inside an IntentService
[code]

Any tip?, it seems some problem with the ssl library, but may be something in the server side, right?

[2014-10-10 02:10] chrishol opened #10 "Add Maven Support"
Hey team,

Could you please make this library available through Maven like your Java library is?

I'd much rather manage everything through Gradle than to do it all manually.

Thanks!

[2014-11-19 11:04] #10 closed, assigned to nobody

[2014-11-19 12:05] #1 closed, assigned to nobody

[2015-02-13 21:56] kenticus opened #12 "Android Proguard"
Cloundinary will crash when trying to use proguard to obfuscate the code.

java.lang.UnknownError: Can't find Cloudinary platform adapter [com.cloudinary.android.UploaderStrategy,com.cloudinary.http42.UploaderStrategy,com.cloudinary.http43.UploaderStrategy]

[2015-02-13 21:59] kenticus commented on #12
please add this to your proguard file example:
-keep class com.cloudinary.** { *; }

[2015-04-21 11:19] SultanPro opened #13 "the method emptymap() is undefined for the type cloudinary android"
I cannot make upload to server i have download https://github.com/cloudinary/cloudinary_java/tree/master/cloudinary-android library and add it to my project not with maven maybe i should with maven and use it like Android cloudinary async uploader error but there error on line
    JSONObject Result;
Result = mCloudinary.uploader().upload(file,
                        Cloudinary.emptyMap());

[2015-04-21 11:20] SultanPro opened #14 "the method emptymap() is undefined for the type cloudinary android"
I cannot make upload to server i have download https://github.com/cloudinary/cloudinary_java/tree/master/cloudinary-android library and add it to my project not with maven maybe i should with maven and use it like Android cloudinary async uploader error but there error on line
    JSONObject Result;
Result = mCloudinary.uploader().upload(file,
                        Cloudinary.emptyMap());

[2015-04-21 11:24] TalLevAmi commented on #14
The method Cloudinary.emptyMap has been moved to ObjectUtils.emptyMap.

[2015-04-21 11:51] SultanPro commented on #14
and i should replace it like 				result = (JSONObject) mCloudinary.uploader().upload(file,ObjectUtils.emptyMap());

[2015-04-21 12:04] TalLevAmi commented on #14
This is safer -

import com.cloudinary.utils.ObjectUtils;
JSONObject result = new JSONObject(cloudinary.uploader().upload(file, ObjectUtils.emptyMap()));

[2015-04-21 14:56] #14 closed

[2015-04-21 14:57] SultanPro commented on #14
thank you

[2015-05-04 19:26] tocker commented on #13
*Please note that this repository is not active. It was moved to https://github.com/cloudinary/cloudinary_java/tree/master/cloudinary-android*

Hi @SultanPro,

You are trying to use the old API. `emptyMap` is now defined in `ObjectUtils`.

[code]

You can take example from the test code [here](https://github.com/cloudinary/cloudinary_java/blob/master/cloudinary-android-test/src/main/java/com/cloud

[2015-05-04 19:27] #9 closed

[2015-06-18 06:18] CsHimanshu commented on #6
I am really surprise when i got it there is no any callback for progress indication and cancel uploading for Android. There should be something for it.

[2015-06-29 06:59] tocker commented on #13
Closing due to the elapsed time.

[2015-06-29 06:59] #13 closed

[2015-07-13 15:25] denison-mobimove opened #15 "java.lang.Exception not implemented.........."
When executing:
 Map result = cloudinary.api().resource("sample", ObjectUtils.emptyMap());

![apistrat](https://cloud.githubusercontent.com/assets/11518093/8653348/f4013da0-2994-11e5-9de9-8af996dc4b0d.JPG)

[2015-08-17 16:36] PimDeWitte commented on #6
We are going to have to switch platforms if this is not implemented ASAP. @cloudinary @codeinvain

[2015-09-06 19:02] kkho opened #16 "Not yet implemented Exception using api().resources()"
I get an exception calling this method:

Map response = cloudinary.api().resources(ObjectUtils.emptyMap());

[2015-11-05 18:01] VihaanVerma89 commented on #16
I'm getting the same issue.
http://stackoverflow.com/questions/33505888/cloudinary-list-all-images-not-implemented-exception

Not able to figure out how to get all images json from cloudinary for the 3rd day now :\

[2015-11-05 23:02] nadavofi commented on #16
Since Android is a client-side environment and the Admin-API is designated to serve on the server-side, its methods are not implemented for native Android.
You can build the HTTP request on your own, using the ADMIN-API endpoint, and issue it in order to collect the information you require, as described int our docs: http://cloudinary.com/documentation/admin_api

[2015-11-06 18:00] VihaanVerma89 commented on #16
Hi Nadavofi,

I get the response on executing
curl 'https://API_KEY:API_SECRET@api.cloudinary.com/v1_1/CLOUD_NAME/resources/image'

but when I send http GET request to the same url using HttpURLConnection instance I get 401. I'm not adding any other headers to the request. Do I need to add anything else to get list of images on android ?

[2015-11-06 18:15] VihaanVerma89 commented on #16
Setting below headers in HttpUrlConnection solved my problem.
        final String basicAuth = "Basic " + Base64.encodeToString("API_KEY:API_SECRET".getBytes(), Base64.NO_WRAP);

            connection.setRequestProperty("Authorization", basicAuth);

[2015-11-08 00:20] nadavofi commented on #16
It's strongly unadvisable to have your API-SECRET stored on the Android device (client-side) as it makes it available to unauthorized persons.
Please open a support ticket, and describe your use-case so we can help you find a better way to achieve it.

[2015-11-26 10:03] madhurtewani-wow commented on #12
For me Cloudinary is crashing with this error even without proguard. Any solution?

[2015-12-07 19:34] VihaanVerma89 opened #17 "Large image upload"
Hey, Is there any image compression functionality provided while uploading large camera images ?

[2016-01-28 08:58] chopikboy opened #18 "401 When trying uploadLarge() file with size more than max chunk size, on uploading second part."
401 When trying uploadLarge() file with size more than max chunk size, on uploading second part. RuntimeException : Server returned unexpected status code - 401 - {"error":{"message":"Invalid Signature b67b4d901dde99a4375e574d541e355d2e2e077b. String to sign - 'public_id=dropzone-signed-upload/cacya6j0bxwdazdwux9x&timestamp=1453395719&upload_preset=dropzone-signed-upload'."}}

[2016-02-08 06:50] TalLevAmi commented on #18
Solved in master of cloudinary_java. Please see if it works for you?

[2016-02-08 06:51] TalLevAmi commented on #17
Currently no client side compression is performed. You can perform any supported transformation before the image is stored, but it will happen after the upload.

[2016-02-09 10:09] chopikboy commented on #18
Did you update jars?

[2016-05-01 05:46] janusnjanus opened #19 "import com.cloudinary cant be resolved ?"
I had my working fine with cloudinary integrated, then i duplicated the project and made sure to copy all component as the working project, including the .jar files into libs. Unfortunately in the class where i am using cloudinary all cloudinary references are highlighted red, of course starting with import com.cloudinary, which cant be resolved ?

What might be causing the problem and how can i s

[2016-05-01 06:18] #19 closed

[2016-05-01 06:18] janusnjanus commented on #19
Resolved

[2016-05-11 09:24] isdzulqor commented on #9
@julio-cotta-edx Hi,, could you elaborate more detail how you fix it, please? I have a problem like you.

[2016-06-18 13:52] YourDirtyMum opened #20 "How to combine multiple effects?"
I'm trying to upload an image with 2 effects. I've tried multiple approaches but cannot get it work.

`new Transformation().effect("blur:500").crop("scale").width(100).height(40).effect("blue:50")`

How can I combine these 2 effects, or how can i add multiple Transformations into the upload of 1 picture.

What am I missing here?
Thank you for help!

[2016-06-18 13:55] #20 closed

[2016-07-01 08:06] nadavofi commented on #16
I'm marking this issue as closed due to the time elapsed.
If there are any additional questions on that matter, please don't hesitate to contact us via support ticket or open a new Git issue through our current Android repo: https://github.com/cloudinary/cloudinary_java/tree/master/cloudinary-android

[2016-07-01 08:06] #16 closed

[2016-08-12 19:21] samyakjain commented on #6
+1

[2016-08-15 01:32] nvhaiwork commented on #6
+1,

[2016-08-23 14:12] mukundvis commented on #6
+1

[2017-02-01 11:13] suyashgupta25 commented on #6
+1

[2017-02-01 11:14] sainathcholkarTal commented on #6
+1

[2017-02-01 11:15] GopalSingh292 commented on #6
+1

[2017-02-01 11:15] vikash1711 commented on #6
+1

[2017-02-01 11:16] nishu-priya commented on #6
+1

[2017-02-01 11:27] sunnytambi commented on #6
+1

[2017-02-02 03:43] prathameshtal commented on #6
+1

[2017-02-03 09:39] DefiantCatgirl commented on #6
+1

[2017-05-15 09:33] roeeba commented on #6
Version 1.11.0 was released on https://github.com/cloudinary/cloudinary_java/tree/master/cloudinary-android (please see - https://github.com/cloudinary/cloudinary_java/issues/72). It includes the progress callback. We'll be closing this issue now, but please feel free to re-open it if you see any issues.

[2017-05-15 12:28] #6 closed

[2017-08-15 18:08] Fkut opened #21 "How to remove image /client side/? merci"

[2017-08-18 12:31] strausr commented on #21
@Fkut

@Fkut  In the upload-preset edit page (on your account upload settings page), click on the "Advanced Options" button and set "Return delete token" to "YES".This will tell Cloudinary to include return the delete-token within the response JSON, which then can be utilized to remove the uploaded image in an unsigned manner (notice the token is only valid for 10 minutes).More information here: h

[2017-08-23 09:02] viclasoft opened #22 "Upload request is not cancelable."
Hi. I called MediaManager.get().cancelAllRequests(); but onProgress() in UploadCallback still calling

[2017-08-28 09:18] niteshgoel opened #23 "upload multiple images."
When I tried something like :

` for (int i = 0; i < imagePath.size(); i++) {
         MediaManager.get().upload(imagePath.get(i)).callback(new UploadCallback() {`

I am getting the same URL in all the call backs.

can I upload multiple images? How?

[2017-09-04 14:55] yakirp commented on #23
@niteshgoel -
In order to understand the issue better, I need some more information. Can you please share with me `imagePath` and the entire code block?

[2017-09-10 11:07] yakirp commented on #22
Hi @viclasoft, current implantation of the JobManager does not allow to termination while uploading,
only threads that not started yet, will cancel.
It is on our roadmap to improve this implementation.

[2017-09-13 02:03] ssamkyu opened #24 "java.lang.IllegalArgumentException: Length of Base64 encoded input string is not a multiple of 4."
when I tried to upload file I get this message.
"java.lang.IllegalArgumentException: Length of Base64 encoded input string is not a multiple of 4."
here is my code below

[code]

[2017-09-13 18:47] shirlymanor commented on #24
Hey,
I saw the thread on StackOverflow and this issue resolved by renaming the non-english file name.
If that correct. Can I close this issue?
Thanks!

[2017-09-14 11:32] visuerp opened #25 "Signed Upload : provideSignature method gives zero size map"
I need to implement signed upload. Here is how I'm initializing cloudinary.

            HashMap<String, String> config = new HashMap();
            config.put("cloud_name", "<myCloudName goes here>");
            MediaManager.init(getActivity(), new ServerSignatureProvider(getActivity()), config);

but provideSignature method in ServerSignatureProvider class gives zero size map. Am'I missing some

[2017-09-15 21:25] marissa-masangcay commented on #25
Hi,

In order to help you better can you provide a little more context such as what is in getActivity() and what you have implemented on the server side? This will help us further investigate the matter at hand.

Thanks,
Marissa

[2017-09-20 09:35] Andoctorey opened #29 "com.evernote:android-job makes app crash after reboot in Android N"
This library used in cloudinary library
`09-15 23:18:33.956 E/AndroidRuntime: FATAL EXCEPTION: main
                                     Process: com.*, PID: 3264
                                     java.lang.RuntimeException: Unable to start receiver com.evernote.android.job.JobBootReceiver: java.lang.IllegalStateException: Not allowed to start service Intent { cmp=com.*/com.evernote.android.job

[2017-09-24 11:07] idobarnoam commented on #29
Hi @Andoctorey

[Android Oreo](https://developer.android.com/about/versions/oreo/background.html) (which was released a couple of weeks ago) has a lot of restrictions on background processing. [Evernote](https://github.com/evernote/android-job/wiki/Version-1.2.0-and-Android-O) already has a fix but it's not released yet (RC status). Once they release, we'll release an update too.

Please note: the

[2017-09-24 11:58] Andoctorey commented on #29
Thanks for reply, will use third option: lower version of cloudinary lib.

[2017-09-24 12:44] idobarnoam commented on #29
@Andoctorey  Thanks for the update.
I'm closing this issue, but please re-open it if you have any questions.

[2017-09-25 11:37] roeeba commented on #17
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2017-09-25 11:37] #17 closed

[2017-10-06 14:01] carloshwa commented on #29
Evernote has released 1.2.0, can you update Cloudinary please?

[2017-10-08 13:47] MaorGariv commented on #29
Hi @carloshwa,

Thanks for that. We plan to release an update this week:)

Will let you know once it's published.

[2017-10-11 06:38] xinthink opened #30 "upgrade to Evernote android-job 1.2.0"
Evernote published [version 1.2.0 of android-job library](http://blog.evernote.com/tech/2017/10/06/announcing-android-job-library-1-2-0/) recently, which brings a lot of improvements.
Please consider moving to the latest version of the lib.

[2017-10-11 10:46] roeeba commented on #30
Hi, @xinthink. Thank you very much for pointing this out. I've forwarded your suggestion to our dev team to review. We'll definitely update if and when this will be applied.

[2017-10-11 15:01] Nsikaktopdown opened #31 "Error:(121, 0) SDK location not found. Define location with sdk.dir in the local.properties file or with an ANDROID_HOME environment variable. <a href="openFile:/Users/NsikakThompson/AndroidStudioProjects/cloudinary_android/lib/build.gradle">Open File</a>"
Error:(121, 0) SDK location not found. Define location with sdk.dir in the local.properties file or with an ANDROID_HOME environment variable.
<a href="openFile:/Users/NsikakThompson/AndroidStudioProjects/cloudinary_android/lib/build.gradle">Open File</a>

[2017-10-11 16:35] carloshwa commented on #30
This update is necessary to fix https://github.com/cloudinary/cloudinary_android/issues/29 too. The sooner the better :)

[2017-10-12 07:59] louistsaitszho opened #32 "I got a RuntimeException: Invalid Content-Range header"
[code]

This happens when I am trying to upload a photo to clouding. I have implemented cloudinary for a few weeks now and this is the first time I see this exception.

Thanks!

[2017-10-15 08:45] yakirp commented on #32
Hi @louistsaitszho , Does it happen to a specific resource (photo) you are trying to upload?

[2017-10-16 08:55] yakirp commented on #31
Hi @Nsikaktopdown , It looks like a problem with your Android Studio configuration where the Android SDK path not found.

Are you using the SDK as a sub-project references?

[2017-10-16 09:56] louistsaitszho commented on #32
Probably not, since the photo is fresh from the camera (and then I pass the Uri for upload). So far it happens only on 1 device (Nexus 5 Marshmallow)

[2017-10-16 14:56] louistsaitszho commented on #32
Update: switch the locale from arabic (ar_something) to english (en_US) and everything works fine!?

[2017-10-17 14:49] yakirp commented on #32
@louistsaitszho Thank you for pointing this out! I will check this with the team.

[2017-10-18 15:04] carloshwa commented on #30
@roeeba I see a fix was merged 👍  When can we expect a release with the fix?

[2017-10-22 18:50] nitzanj commented on #30
@carloshwa The version with the required fixes is now released. If there's anything else please let us know. Thanks.

[2017-10-22 18:50] #30 closed

[2017-10-22 18:53] nitzanj commented on #29
This was fixed in our latest release, no workarounds are necessary anymore.

[2017-10-22 18:53] #29 closed

[2017-10-23 19:35] yakirp commented on #23
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support http://support.cloudinary.com or [create a new ticket](https://support.cloudinary.com/hc/en-us/requests/new) if you have any additional issues.

[2017-10-23 19:35] #23 closed

[2017-10-23 19:45] nitzanj commented on #22
@viclasoft Thanks for your comments. The latest release supports requests cancellation, both pending and in-progress.

[2017-10-23 19:45] #22 closed

[2017-10-31 03:44] vulegend opened #34 "java.lang.IllegalStateException: Couldn't read row 0, col 0 from CursorWindow"
10-31 04:42:32.416 16248-17032/com.tapp.hookapp E/CursorWindow: Failed to read row 0, column 0 from a CursorWindow which has 0 rows, 22 columns.
10-31 04:42:32.417 16248-17032/com.tapp.hookapp E/JobStorage: could not load all jobs
                                                              java.lang.IllegalStateException: Couldn't read row 0, col 0 from CursorWindow.  Make sure the Cursor is ini

[2017-11-01 15:39] kuhnp opened #35 "Fatal Exception: java.lang.IllegalArgumentException: endMs is out of range of [10000, 9223372036854775807] (too low)"
at com.evernote.android.job.util.JobPreconditions.checkArgumentInRange(JobPreconditions.java:269)
       at com.evernote.android.job.JobRequest$Builder.setExecutionWindow(JobRequest.java:615)
       at com.cloudinary.android.AndroidJobStrategy.executeRequestsNow(AndroidJobStrategy.java:103)
       at com.cloudinary.android.MediaManager.queueRoomFreed(MediaManager.java:210)
       at com.cloudinary

[2017-11-02 08:44] roeeba commented on #35
Hi, @kuhnp. In order to understand the issue better, we need some more information. Could you please share with us the following?

* Execution flow: how to reproduce the issue?
* Code causing the error.
* Your cloud name.
* Timeframe in which the error occurred.

Thanks

[2017-11-09 01:29] nigelbro opened #36 "java.lang.IllegalStateException: Couldn't read row 0, col 0 from CursorWindow. Make sure the Cursor is initialized correctly before accessing data from it."
E/JobStorage: could not load all jobs
                                                              java.lang.IllegalStateException: Couldn't read row 0, col 0 from CursorWindow.  Make sure the Cursor is initialized correctly before accessing data from it.
                                                                  at android.database.CursorWindow.nativeGetLong(Native Method)

[2017-11-09 23:38] nigelbro commented on #36
I have also opened the following issue with evernote library that you guys are using . this is the issue link
https://github.com/evernote/android-job/issues/316

[2017-11-13 10:21] roeeba commented on #36
Hi @nigelbro. Could you please share with us the following information:

1. Your Init code.
2. Your upload code.
3. Which device are you using?
4. Your Android version.
5. Did you try running it on a different device?

This will help us reproduce the issue on our end. Thanks.

[2017-11-13 12:27] nigelbro commented on #36
Init Code: `override fun onCreate() {
        super.onCreate()
        instance = this
        startRemoteSyncJob()
        Fabric.with(this, Crashlytics())
        var cloudinaryConfig = HashMap<String, String>()
        cloudinaryConfig.put(CLOUD_NAME_KEY, CLOUD_NAME_VALUE)
        MediaManager.init(this,cloudinaryConfig)
        component = DaggerAppComponent.builder().appModule(AppModule(this)

[2017-11-13 18:05] kuhnp commented on #35
Hi, I can not reproduce the issue locally, this was reported by our crash tracking tool, and it seems that it impacted quite a few of our users. Here is the code that handles image upload on our Cloudinary account:

[code]
Our cloud name is "sphere".

There is no particular time frame, the error seems to happen regularly.

Thanks a lot!

[2017-11-14 12:48] roeeba commented on #36
Thanks for the additional info, @nigelbro. While we didn't manage to reproduce this on our end, could you please try running a clean empty project with nothing but cloudinary and see if it works for you? If it works then something in your project might not playing well with Cloudinary/evernote.

If you can share your build.gradle file we can recreate the same dependency tree ourselves and try to d

[2017-11-14 12:51] nigelbro commented on #36
Sure

On Nov 14, 2017 7:48 AM, "Roee Ben-Ari" <notifications@github.com> wrote:

[2017-11-15 07:45] roeeba commented on #34
Hi @vulegend. Could you please share with us the following information:

1. Your Init code.
2. Your upload code.
3. Which device are you using?
4. Your Android version.
5. Did you try running it on a different device?

This will help us reproduce the issue on our end. Thanks.

[2017-11-15 08:09] roeeba commented on #35
Hi @kuhnp. Thank you very much for the detailed response. A fix has been deployed in our labs. We will push this to production by the beginning of next week.
Update to follow.

[2017-11-16 22:58] gengrui1983 opened #39 "NoClassDefFoundError: Failed resolution of: Lnet/vrallev/android/cat/instance/CatLazy;"
Hi Cloudinary guys

Could anyone please take a look at this error? Looks like something wrong with the Evernote?

Description: After the integration, the app crashes at MediaManager.init(this, config).
The crash happens on both Emulator and phone.

Phone: Nexus 5, Android 5.1.1, API 22
Emulator: Nexus 5X Android 8.0.0, API 26 O
The logs and dependencies are listed as below.
minSdkVersion = 19
targ

[2017-11-21 04:58] gengrui1983 commented on #39
All is working now. Please ignore it, thank you.

[2017-11-21 04:58] #39 closed

[2017-11-22 05:24] KancerKure opened #40 "Fatal Exception: java.lang.RuntimeException: Unable to instantiate service com.evernote.android.job.gcm.PlatformGcmService: java.lang.ClassNotFoundException: Didn't find class "com.evernote.android.job.gcm.PlatformGcmService""
The app is crashing in lower versions after I did an update.

`at android.app.ActivityThread.handleCreateService(ActivityThread.java:2720)
       at android.app.ActivityThread.access$1900(ActivityThread.java:169)
       at android.app.ActivityThread$H.handleMessage(ActivityThread.java:1359)
       at android.os.Handler.dispatchMessage(Handler.java:102)
       at android.os.Looper.loop(Looper.java:

[2017-11-23 12:04] kuhnp commented on #35
Thank you very much for the fix!
Any ETA regarding the next release?

[2017-11-23 12:28] nigelbro commented on #36
Working on this today to test

[2017-11-23 15:06] nigelbro commented on #36
So with creating a boiler plate application the sdk is working. It also changed from using the .upload(byte[]) to using the .upload(uri) instead and that is actually now working in my application. Maybe some issue with the upload(byte[])

[2017-11-23 15:10] nigelbro commented on #36
This is good to close unless you want to leave it open to investigate the upload(byte[]) signature. But before you close is there a way to make a synchronous upload request?

[2017-11-24 05:36] vikasnikam opened #41 "E/DefaultRequestProcessor: Unexpected exception for request 962e6fd9-ea00-4d9e-8db0-43784a23ea48. java.lang.RuntimeException: Upload preset not found"
Unexpected exception for request 962e6fd9-ea00-4d9e-8db0-43784a23ea48.
                                                                                   java.lang.RuntimeException: Upload preset not found
                                                                                       at com.cloudinary.android.UploaderStrategy.callApi(UploaderStrategy.java:143)

[2017-11-24 13:31] roeeba commented on #41
Hi, @vikasnikam. In order to better understand the issue, we need some more information. Can you please share with me the following?

* Execution flow: how to reproduce the issue?
* Code causing the error.

Thanks

[2017-11-25 08:03] roeeba commented on #35
Hi @kuhnp. A fix should be deployed early next week. Update to follow.

[2017-11-26 09:37] roeeba commented on #40
Hi @KancerKure. This seems to relate to Google Play services. There are several reasons this could happen. Can you please share with us the following?

1. Android versions where it crashes.
2. Do the phones that crash have Play services?
3. What relevant dependencies are you using (Firebase, Play services) - sharing the `build.gradle` file will help.

In the meantime, please also refer to - https:

[2017-11-28 09:00] roeeba commented on #35
Hi @kuhnp. Version 1.22.0 is now released with a fix to this issue.
I'm closing this ticket now, but please feel free to re-open it if you still see issues.

[2017-11-28 09:00] #35 closed

[2017-11-28 09:01] roeeba commented on #36
You can call the basic Cloudinary uploader, it's still in there and it's synchronous:

`MediaManager.get().getCloudinary().uploader().upload(...)`

Note that there's no phone state and policies involved this way, and it's using the old API for parameters and options. It works well nonetheless.

[2017-12-18 12:12] roeeba commented on #36
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2017-12-18 12:12] #36 closed

[2017-12-22 07:32] lby1992 opened #43 "Could not find com.android.support:support-core-utils:26.0.1"
I attempt to upgrade the Cloudinary android lib to `com.cloudinary:cloudinary-android:1.21.0`, and then get the following message while gradle project building:

Required by:
    project :appfriendscore > com.cloudinary:cloudinary-android:1.21.0

Why does it occur and how to resolve.

[2018-01-01 15:44] yakirp commented on #43
Hi @lby1992 ,

You should have to update the support library to version 26 (from the SDK Manager).

Best,
Yakir

[2018-01-02 09:15] lby1992 commented on #43
@yakirp Thank you, I had resolved it.

[2018-01-02 09:15] #43 closed

[2018-01-18 15:38] nigelbro opened #48 "Cloudinary Upload unable to use URI from contentproviders such as google photos"
When using a Uri from a photo selected from google photos (None local to device) the sdk is unable to handle this. The sdk should be able to handle any valid Uri passed to it.

17004-19936/com.bump.bumpapp E/DefaultRequestProcessor: LocalUriNotFoundException for request 115d437b-5acc-4772-9b9b-b3998f23d47c.
                                                                           com.cloudinary.a

[2018-01-21 13:09] roeeba commented on #48
Hi @nigelbro. Could you please share with us the steps to reproduce the issue?

1. How do you get the URI?
2. How do you pass it to MediaManager upload method?
3 Do you have any storage permissions set?

You can refer to our sample app, this flow in specific:
https://github.com/cloudinary/cloudinary_android/blob/bd8c75d17eea1176cc9575335aeb84ee78e3a04c/sample/src/main/java/com/cloudinary/android/s

[2018-01-22 11:05] KingIdee opened #49 "Slow upload"
I use unsigned uploads at the moment. When I begin an upload, it takes sometime before it starts Say 6seconds. Its too long for me. I noticed the evernote android-job library is used. You sure you using `.startNow` method ?

[2018-01-29 10:23] roeeba commented on #49
Hi @KingIdee. Evernote added the `.startNow` method quite recently, and we're not using it yet. It's on our roadmap to add it, though no ETA at the moment. We will update here on any progress done in this matter.

[2018-01-29 11:20] KingIdee commented on #49
Alright. Good to hear!

[2018-02-01 14:12] roeeba commented on #41
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2018-02-01 14:12] #41 closed

[2018-02-01 14:13] roeeba commented on #40
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2018-02-01 14:13] #40 closed

[2018-02-03 14:45] yateeshkota opened #51 "Tacking somuch time to upload"
Hi, I used cloundinary android sdk in my application. I face two problems  -
1.  when I used upload the image or video using unsinged method in like below code

String requestId = MediaManager.get().upload(uri).unsigned("test").option("public_id", uniqueId)
        .callback(new UploadCallback() {
    @Override
    public void onStart(String requestId) {

        if ((ProgressBar) findViewById(R.i

[2018-02-12 18:12] horsejockey opened #52 "Upload ByteArray fails"
In `PayloadFactory` the parsed.getHost() can return null when you use byte[] upload.  Need a better way to handle the encoded data.  I'm not positive the reason for this. Looking at my encoded data it starts with a '/' character so it looks like bytes:///{rest of data}.  Maybe that makes the getHost() method fail?
I was uploading JPEG format image.

Similar issues with Webm.  current encoding prod

[2018-02-13 06:46] Thejas88 opened #53 "Multiple image upload in the loop issue"
Trying to upload multiple images through android application and get the resultdata but override methods are called multiple times for same request id.

[2018-02-13 06:51] Thejas88 commented on #23
Still facing the issue

[2018-02-13 09:47] yakirp commented on #53
Hi @Thejas88,
This bug was fixed in version [1.23.0](https://github.com/cloudinary/cloudinary_android/releases/tag/1.23.0)

Make sure to use our latest version, and please let me know if it works for you.

[2018-02-13 09:50] yakirp commented on #23
Answered at #53

[2018-02-13 11:59] Thejas88 commented on #53
@yakirp Its working after changing the version. Thanks for quick reply.

[2018-02-13 12:03] #53 closed

[2018-02-14 14:58] yakirp commented on #52
Hi @horsejockey

Could you please share with me the execution flow which reproduces the issue you referred to?

Looking forward to your response.

Best,
Yakir

[2018-02-19 08:59] roeeba commented on #21
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2018-02-19 08:59] #21 closed

[2018-02-19 09:07] roeeba commented on #15
Hi @denison-mobimove, we apologize for the very delayed response. As it probably not relevant anymore, we're closing this issue. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket, if our assistance is still needed.

[2018-02-19 09:07] #15 closed

[2018-02-19 09:08] roeeba commented on #12
Hi @madhurtewani-wow, @kenticus. We apologize for the very delayed response. As it probably not relevant anymore, we're closing this issue. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket, if our assistance is still needed.

[2018-02-19 09:08] #12 closed

[2018-02-19 09:10] roeeba commented on #18
Hi @chopikboy. We apologize for the very delayed response. While it's probably not relevant anymore, a fix was already deployed to Maven central.
We're closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2018-02-19 09:10] #18 closed

[2018-02-19 09:27] roeeba commented on #34
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2018-02-19 09:27] #34 closed

[2018-02-19 09:29] roeeba commented on #48
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2018-02-19 09:29] #48 closed

[2018-02-20 17:41] marissa-masangcay commented on #25
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support http://support.cloudinary.com or [create a new ticket](https://support.cloudinary.com/hc/en-us/requests/new) if you have any additional issues.

Thanks!

[2018-02-20 17:41] #25 closed

[2018-02-20 19:55] shirlymanor commented on #24
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2018-02-20 19:55] #24 closed

[2018-02-28 23:31] horsejockey commented on #52
Sorry it took me a bit.  I was using Kotlin but I don't think that should matter.  I was trying to upload a `byteArray` or java `byte[]` instead of just passing the uri.  I debugged it a bit and ran into two different issues both having to do with the `parsed.getHost()` in `PayloadFactory` not working well with the base64 encoded `byte[]`.  You should be able to grab any image and try to upload it

[2018-03-01 08:03] yakirp commented on #52
Hi @horsejockey ,

We fixed this issue in our latest SDK version, could you please make sure you are using it and let me know if it works for you?

Thanks,
Yakir

[2018-03-07 06:36] kaprat opened #55 "Got Execption java.lang.NoClassDefFoundError: Failed resolution of: Lcom/evernote/android/job/JobManager; in MediaManager.init(this); statement"
I am getting the below exception in **MediaManager.init(this, config);** statement.

I am using the libraries cloudinary-core-1.14.0.jar and cloudinary-android-1.20.0.aar

My Code Looks Like

**Map config = new HashMap();
        config.put("cloud_name", "mycloudname");
        config.put("api_key", "myapikey");
        config.put("api_secret", "myapisecret");
        MediaManager.init(this, confi

[2018-03-07 13:45] yakirp commented on #55
Hi @kaprat,

Could you please share your Gradle dependencies?

Thanks

[2018-03-13 10:56] kaprat opened #56 "Progressbar is not showing while uploading audio or video to cloudinary server."
I have shown progressbar using below way but progressbar is not showing.

[code]

[2018-03-13 11:49] yakirp commented on #56
Hi @kaprat,

First, please make sure to use our l[atest Android SDK version](https://cloudinary.com/documentation/android_integration), which includes a new way to upload resources which you can track upload progress by getting callbacks on the following events: onStart, onProgress, onSuccess, onError, and onReschedule.

Per your question - you asked about why you can't see the progress bar on you

[2018-03-13 12:25] kaprat commented on #56
Yes sir i am using the latest versions of libraries and also i have tried by uploading using the latest version code (Using MediaManager) but i am getting the issue that i have also reported you can check it from [here ](https://github.com/cloudinary/cloudinary_android/issues/55)

[2018-03-13 12:38] yakirp commented on #55
Hi,

could you please change this lines:

[code]

To this:
`compile group: 'com.cloudinary', name: 'cloudinary-android', version: '1.24.0'`

Please let me know if it works for you.

Best,
Yakir

[2018-03-14 04:54] kaprat commented on #55
Thank you @yakirp sir it's working now.

[2018-03-14 04:54] #55 closed

[2018-03-14 04:57] kaprat commented on #56
Is it necessary to show progressDialog in onStart method of media manager and need to dismiss in onSuccess method of media manager ?

Can you help me how can i upload multiple image using media manager ?

[2018-03-14 10:11] yakirp commented on #56
Hi @kaprat,

This is not necessary but should be great in terms of user experience.

You can just invoke the upload call with the file you need to upload, there is no need to wait for the current upload to finish.

For example:

[code]

[2018-03-14 10:13] kaprat commented on #56
Thanks for reply sir.

This will upload all images and i'm able to receive onSuccess callback only once ?

[2018-03-14 10:28] yakirp commented on #56
No, you will get the `onSuccess` event (like any other event) for **each** file, it's up to you to manage this and to check that all your files upload successfully, or failed.

For example, you tried to upload 3 files, 2 files uploaded, but 1 has failed -in this case, you will get 2 `onSuccess`, and 1 `onError`.

[2018-03-14 10:30] yakirp commented on #56
If the progress is per file, so you can show it on `onStart`, and hide on `onSuccess`.

[2018-03-14 10:38] kaprat commented on #56
Ok let me try.
Thanks Sir.

[2018-04-12 15:57] nachomunoz commented on #31
You have to import root folder instead of only "sample" one. Else build.gradle for module is not got and anything works

[2018-04-13 10:33] omjimehrotra opened #57 "RuntimeException: Invalid Content-Range header when device locale is set to arabic"
Here is the error stack trace.

E/DefaultRequestProcessor: Unexpected exception for request ff49ae42-aed4-463b-96c2-c4a1d875d8cc.
java.lang.RuntimeException: Invalid Content-Range header
at com.cloudinary.android.UploaderStrategy.callApi(UploaderStrategy.java:143)
at com.cloudinary.Uploader.callApi(Uploader.java:34)
at com.cloudinary.Uploader.uploadLargeParts(Uploader.java:212)
at com.cloudinary.U

[2018-04-13 19:50] d-mendoza commented on #57
Hi @omjimehrotra,

To better assist in diagnosing this issue, can you provide us with the following:
1. The upload command use
2. The parameters passed into the upload call

[2018-04-14 06:35] omjimehrotra commented on #57
MediaManager.get().upload(filePath).callback(uploadCallback)
                .unsigned(AppConstants.CLOUDINARY_UPLOAD_PRESET)
                .option("resource_type", "auto")
                .dispatch();

[2018-04-18 21:29] d-mendoza commented on #57
@omjimehrotra Thank you for pointing this out! Our team is looking into it.

[2018-04-19 14:59] ababavali23 opened #58 "responsiveUrl function is not able to find in MediaManager.get()"
I am not able to add the lib folder can you please help me.

[2018-04-19 18:10] shirlymanor commented on #58
Did you import the library?

import com.cloudinary.android.MediaManager;

Did you included this within the dependencies section of your build.gradle file:

compile group: 'com.cloudinary', name: 'cloudinary-android', version: '1.20.0'

[2018-04-20 04:52] ababavali23 commented on #58
Yes. I did this.
 compile group: 'com.cloudinary', name: 'cloudinary-android', version: '1.20.0'

// This is working fine
MediaManager.get()
                        .url()
                        .transformation(new Transformation().radius(10).width(715).crop("scale"))
                        .generate(coupensList.get(position).getImageUrl()

//This is not working. responsiveUrl method is cannot r

[2018-04-20 07:15] yakirp commented on #58
Hi @ababavali23 ,
Responsive URL [added ](https://github.com/cloudinary/cloudinary_android/commit/93d1b29dac053deca5f98bdd53be2849aabf8c33#diff-4ac32a78649ca5bdd8e0ba38b7006a1eR8)in version 1.24.0.

So this will fix the issue:
`compile group: 'com.cloudinary', name: 'cloudinary-android', version: '1.24.0'`

Best,
Yakir

[2018-04-20 07:15] #58 closed

[2018-04-20 08:54] snarchio commented on #51
Hi, i have a similar issue
I downloaded your sample app from githhub and on some devices (a Samsung SM-G360F and on an Amazon tablet KFFOWI, both with android 5) the upload do not start immediately but after at least 120 seconds

Here the essential logcat
`10:38:04.295 12067-12514/com.cloudinary.android.sample D/JobProxy21: Schedule one-off jobInfo success, request{id=5, tag=CLD, transient=false},

[2018-04-24 13:02] yakirp commented on #51
Hi @yateeshkota , @snarchio ,
We already fixed this issue and we are going to publish it soon (already in master).

Yakir

[2018-04-28 00:35] MaxBayne commented on #57
any help for this issue ....

[2018-04-28 01:07] MaxBayne commented on #57
@d-mendoza

any help or fix for this bug

thanks

[2018-04-28 17:34] MaxBayne commented on #32
@yakirp
any help for this issue

thanks

[2018-04-29 06:40] yakirp commented on #32
@louistsaitszho @MaxBayne
Same as #57 , closing.

[2018-04-29 06:40] #32 closed

[2018-04-30 22:36] d-mendoza commented on #57
@MaxBayne It's on our dev teams todo list. I'll update when we'll have any insights.

[2018-05-03 14:20] hayribakici opened #59 "When calling `MediaManager.get().upload()` then upload happens more than once"
Hi,

sorry to ask this question here, but when I call
[code]
for some reason the android job scheduler fires multiple jobs to upload the image resulting them spamming the media library (70 images in 5 minues).
Do I do something wrong or am I using the library in a wrong manner?

Thanks in advance

[2018-05-03 14:51] yakirp commented on #59
@hayribakici Could you please share with me your the project?

[2018-05-07 10:39] hayribakici commented on #59
hey!

Thank you for your quick response. The problem lied wrapping the upload in RxJava Observables. Apologies for the inconvenience.

Sincerly

[2018-05-07 10:49] yakirp commented on #59
Thanks for the update! So can I close this issue?

[2018-05-07 10:59] hayribakici commented on #59
yes :)

[2018-05-07 11:03] #59 closed

[2018-05-11 06:31] omjimehrotra commented on #57
Any Update on this issue?

[2018-05-12 10:51] MaxBayne commented on #57
no still issue

On 5/11/18, omjimehrotra <notifications@github.com> wrote:

[2018-05-13 08:16] yakirp commented on #57
Hi guys, I hope that we will fix this issue soon, I will update.

[2018-05-14 13:35] vikassminq opened #60 "Rejecting re-init on previously-failed class java.lang.Class<com.evernote.android.job.gcm.PlatformGcmService>: java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/gms/gcm/GcmTaskService;"
I am using android sdk version :
implementation group: 'com.cloudinary', name: 'cloudinary-android', version: '1.24.0'

[2018-05-16 08:45] vikassminq opened #61 "On Android oreo (Pixel device ) unable to upload image , unable to callbacks in ListenerService"
I am using android sdk version :
implementation group: 'com.cloudinary', name: 'cloudinary-android', version: '1.24.0'

[2018-05-16 09:15] yakirp commented on #61
Hi @vikassminq ,

Could you please elaborate more on this issue and share with me the error stacktrace?

Cheers,
Yakir

[2018-05-16 09:33] vikassminq commented on #61
HI @yakirp  ,
Below oero os , cloudinary sdk works fine for me , with ListenerService . but unable to get response in oero os in ListenerService .

[2018-05-16 10:30] vikassminq commented on #61
Calling from Activity class.
First i am start service
 startService(new Intent(this, UploadListner.class));
then I perform below operation .
String requestId = MediaManager.get().upload(mediaPath).unsigned("300x300")
                        .preprocess(new ImagePreprocessChain()
                                .saveWith(new BitmapEncoder(BitmapEncoder.Format.JPEG, 90)))
                        .po

[2018-05-16 12:01] vikassminq commented on #61
Hi @yakirp ,
same thing  happen with UploadCallBack interface also .

String requestId = MediaManager.get().upload(mFilePath).unsigned("300x300")
                .preprocess(new ImagePreprocessChain()
                        .saveWith(new BitmapEncoder(BitmapEncoder.Format.JPEG, 90)))
                .policy(new UploadPolicy.Builder()
                        .maxRetries(3)

[2018-05-24 16:51] kayvannj commented on #12
Hey @roeeba,

Proguard for Android is a big issue and I spend some time trying to see if you provide any specific rules for it but was not able to find any. The solution provided by @kenticus is not a solution because it basically disables proguard on cloudinary package all together.

A well-defined proguard rule would greatly be appreciated.

[2018-05-28 13:00] roeeba commented on #12
Hi @kayvannj. This single Proguard rule should be enough:
`-keep class com.cloudinary.android.*Strategy`

[2018-06-05 20:04] #52 closed

[2018-07-06 00:35] Deathhit commented on #51
Is this issue fixed now? I am still experiencing it in version 1.24.

[2018-07-10 10:01] Colaman0 opened #65 "How to upload more than one pic"
i want to upload more than one picture, How should I upload multiple images at once?

[2018-07-10 11:52] yakirp commented on #65
Hey @Colaman0 ,

You should call the upload method within a loop.

Cheers,
--Yakir

[2018-07-19 10:08] #65 closed

[2018-07-26 09:13] roeeba commented on #49
Hi @KingIdee, The method was added in the last version.

[2018-07-26 09:13] #49 closed

[2018-07-30 05:37] yakirp commented on #51
Hi @flexpeace ,

could you please share with me the SDK you are using? (Our SDK)

Thanks

[2018-07-30 06:10] Deathhit commented on #51
Umm... I am sorry, but I am not @flexpeace. I did comment on this issue,
but I deleted my comment.

Yakir Perlin <notifications@github.com> 於 2018年7月30日 週一 下午1:37寫道：

[2018-07-30 06:12] Deathhit commented on #51
I did experience the same issue. The version I used is likely

compile group: 'com.cloudinary', name: 'cloudinary-android', version: '1.24.0'

zerg 1111 <b9915034@gmail.com> 於 2018年7月30日 週一 下午2:10寫道：

[2018-07-30 06:17] yakirp commented on #51
ok, great, so could you please try with our new version:
https://github.com/cloudinary/cloudinary_android/releases/tag/1.24.1

Please let me know if it works for you.

--Yakir

[2018-08-02 11:55] yakirp commented on #51
Hi guys, we do find an issue with that implantation, and we are going to release a new version next week that will fix that.

Stay tuned!

[2018-08-02 12:59] flexpeace commented on #51
@yakirp Thanks a lot for the update. We almost switched to AWS s3 directly. I will be on standby for update

[2018-08-15 16:48] flexpeace commented on #51
@yakirp Any Update? Thanks

[2018-08-20 06:08] yakirp commented on #51
@flexpeace Please let me check with the team

[2018-08-23 11:51] yakirp commented on #51
@flexpeace
Our Android  SDK has been updated to version 1.25.0:
https://github.com/cloudinary/cloudinary_android/releases/tag/1.25.0

We added `UploadRequest.startNow()` api to support immediate upload requests.

[2018-09-02 09:34] flexpeace commented on #51
Thanks a lot. I will try it and provide feedback. I really appreciate it

[2018-09-05 07:22] noticeboard-priyansh opened #71 "Getting IllegalStateException("Must call init() before accessing Cloudinary.");"
I am invoking MediaManager.init() at the app startup.
Randomly, if I try to access MediaManager().get(), it throws me IllegalStateException("Must call init() before accessing Cloudinary.");
Any idea, why?
This has happened for few users and is random. Unable to reproduce it locally.

[2018-09-13 12:37] roeeba commented on #56
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2018-09-13 12:37] #56 closed

[2018-09-21 05:27] redrose218 opened #72 "How to use context option in upload?"

[2018-09-21 18:11] roeeba commented on #31
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2018-09-21 18:11] #31 closed

[2018-09-23 08:00] strausr commented on #72
Please take a look at the following documentation for more information- https://cloudinary.com/documentation/image_upload_api_reference#context

[2018-10-05 09:54] davidhoeck commented on #57
any update on this one?

[2018-10-06 05:12] shubhendu1 opened #73 "Fatal Exception: java.lang.OutOfMemoryError"
Fatal Exception: java.lang.OutOfMemoryError
Failed to allocate a 47 byte allocation with 0 free bytes and 3GB until OOM

com.cloudinary.android.preprocess.Limit.execute (Limit.java:44)
com.cloudinary.android.preprocess.Limit.execute (Limit.java:12)
com.cloudinary.android.preprocess.PreprocessChain.execute (PreprocessChain.java:76)
com.cloudinary.android.UploadRequest.preprocessAndClone (UploadRequ

[2018-10-07 06:39] yakirp commented on #73
Hi @shubhendu1 ,

In order to better understand the issue, I need some more information. Can you please share with me the following?

- Cloudinary SDK version
- The image you worked with
- Android OS version
- Full error stack trace.

Looking forward to your response.

Best,
Yakir

[2018-10-08 05:02] shubhendu1 commented on #73
Hello @yakirp
These are the details that I can provide, as this is the crash that one of our user encountered and details provided here are from Crashlytics.

- Cloudinary SDK version
1.25.0

- Android OS version
 7.1.1
Device - Moto E (4)

- Full error stack trace
[code]

And one more thing I wanted bring into your knowledge that, in one of our activities we are using Cloudinary upload inside of

[2018-10-08 08:57] yakirp commented on #73
Thanks for this information.

Looks that you are using both `preprocess` and `for` loop, so it definitely could cause such issue like out of memory.

You need to check that you are not sending too many images with `preprocess` or to use `dispatch()`

Please let me know if it works for you.

Best
Yakir

[2018-10-09 05:12] shubhendu1 commented on #73
Maximum of 10 images are allowed at once, but we do not have any control over the size of the image.

So, in that case, is there any other way possible for us to upload multiple images at once.

And if possible can you please suggest the correct way of implementing multiple image upload logic.

Thanks,
Shubhendu

[2018-10-09 08:21] yakirp commented on #73
10 mages could easily cause this issue.
Please try to use `dispatch()` - This will handle the `preprocess` and the upload with mange queue.

Please let me know if it works for you.

Best
Yakir

[2018-10-09 10:15] shubhendu1 commented on #73
As I understand `dispatch()` utilises JobScheduler and might take some time to start the upload process.

My requirement is to start the upload as soon as user clicks.

So, there are two major requirement that I have to fulfill

- Multiple Image upload (Max 10 at a time)

- Upload process should start immediately.

Thanks,
Shubhendu

[2018-10-10 05:56] NehaSukhlecha opened #74 "Android - What is the proper way to get secure url."
cloudinary.url().generate(obj.getCloudinary_image_id());

gives http url, is there any method for https url or we need to do it manually.

[2018-10-10 11:33] igy commented on #74
Hi Neha,
You can get a secure URL from the Android SDK in two ways.
For an individual image, you can specify the secure option when creating the url:

[code]

You can also set the behaviour for all calls from the SDK by specifying the `secure` parameter when initialising the SDK. For example:
[code]

Let me know if you have any problems with that, or if you have any further questions.
You can also

[2018-10-10 11:33] #74 closed

[2018-10-11 11:53] yakirp commented on #73
Hi @shubhendu1

I think that the best option is the `dispatch()` because you must manage this heavy process. So it's up to you if to manage that with our queue which is baes on Google best practices for Android, or to find another to manage such a process.

Please let me know what you think

Cheers,
Yakir

[2018-10-12 07:38] AjithNoah opened #75 "MediaManager is already initialized"
Hi.. I am using Media manager while uploading it was quite good.. When i take picture for upload first time it upload to cloud ,but when i take picture second time it shows mediamanager is already initialized.

10-12 13:00:09.702 13540-13540/com.taggery W/System.err: java.lang.IllegalStateException: MediaManager is already initialized
        at com.cloudinary.android.MediaManager.init(MediaManage

[2018-10-14 08:32] yakirp commented on #75
Hi @AjithNoah ,
The `MediaManager.init()` method must be called once per application lifecycle before using the Android library, preferably in `Application.onCreate()`.

Please let me know if it works for you.

Cheers,
Yakir

[2018-10-15 06:27] AjithNoah commented on #75
Hi @yakirp
Thanks pal.. it works fine..

[2018-10-15 08:42] yakirp commented on #75
Thanks for the update, glad I could help.

[2018-10-15 08:42] #75 closed

[2018-10-15 08:44] yakirp commented on #51
Hi @flexpeace

I'm following up to see whether you had a chance to check this?

Please let me know if you have questions?

Thanks,
Yakir

[2018-10-15 08:57] yakirp commented on #71
Hi @noticeboard-priyansh

I'm following up to see whether you had a chance to check this?

Please let me know if you have questions?

Thanks,
Yakir

[2018-10-15 09:04] yakirp commented on #60
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2018-10-25 11:33] AjithNoah opened #76 "Delete image"
How can i delete particular and mutiple image from cloudinary?? i've searched a lot but didnt found appropriate solution..

[2018-10-25 13:20] aditimadan-Cloudinary commented on #76
Deleting your account resources can be done in the following ways:

1. Via the media library UI, either bulk deleting: https://cloudinary.com/console/settings/bulk_delete/new or selecting few images in the media library and deleting them.
2. Using the Admin API - Either http://support.cloudinary.com/entries/26856651-How-can-I-bulk-delete-all-my-account-s-resources- or by http://cloudinary.com/docu

[2018-10-25 13:30] AjithNoah commented on #76
im uploading image like this using MediaManager.. where to use destroy method???

Thanks for reply..

MediaManager.get().upload(cloudpath)
                .option("public_id", imageFileName)
                .option("resource_type", resourcetype)
                .callback(new UploadCallback() {
                    @Override
                    public void onStart(String requestId) {

[2018-10-25 13:59] igy commented on #76
The `destroy()` method requires the API call to be signed. This means that it's not suitable for use in client code because you'd need to include the account secret in the client code, which would compromise your account security.

For most cases, you should use one of the methods Aditi recommended.
It is also possible to delete from the client side for a short time (10 minutes) after a client-sid

[2018-11-12 10:17] shubhendu1 opened #77 "Upload Error"
I encountered an issue when uploading an image from my app. Error code was 6 and error message was "General Error" and I was unable to find any documentation regarding what this error could mean. Any help regarding this issue will be helpful.

Thanks.

[2018-11-12 11:54] shubhendu1 commented on #77
Hi @yakirp ,
Every thing is working fine for now.

Regards,
Shubhendu

[2018-11-12 11:54] #77 closed

[2018-11-16 19:04] vinayakmestri opened #78 "Failed resolve support-appcomact"
compile group: 'com.cloudinary', name: 'cloudinary-android', version: '1.24.0'

[2018-11-27 09:39] yakirp commented on #73
Hi @shubhendu1

I'm following up to see whether you had a chance to look into my response?
Please let me know if you have questions?

Thanks,
Yakir

[2018-11-27 09:46] yakirp commented on #71
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.Hi Raul,

[2018-11-27 09:46] #71 closed

[2018-11-27 09:48] yakirp commented on #51
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2018-11-27 09:48] #51 closed

[2018-11-29 07:45] shubhendu1 commented on #73
Hi @yakirp

Sorry for the delay.
I have not implemented your solution but have not got similar crash again, so I think that might be an edge case. If problem occurs again, will surely check your solution.

Thank you,
Shubhendu

[2018-11-29 07:45] #73 closed

[2018-12-04 20:00] iguerendiain commented on #60
I'm having the same issue

[2018-12-05 14:35] idobarnoam commented on #60
@iguerendiain  java.lang.NoClassDefFoundError indicates, that something was found at compile time but not at runtime. Can you try to add it to the Classpath.

Right click on your project and select -> Compile Module, and then re-start the project and it should work again.

Let us know if that helps?

[2018-12-05 14:37] iguerendiain commented on #60
@idobarnoam Thanks for your response. The problem did not relied there, after I fixed the issue the error kept showing on logcat but everything was working ok.

[2018-12-06 15:00] idobarnoam commented on #60
@iguerendiain so you are saying the project works correctly but you are still seeing the error?

[2018-12-10 13:31] iguerendiain commented on #60
`
2018-12-10 10:25:40.975 24854-30083/circlecomplete.ciom.test I/art: Rejecting re-init on previously-failed class java.lang.Class<com.evernote.android.job.gcm.PlatformGcmService>: java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/gms/gcm/GcmTaskService;
2018-12-10 10:25:40.975 24854-30083/circlecomplete.ciom.test I/art:     at boolean com.evernote.android.job.GcmAvailableH

[2018-12-10 13:32] iguerendiain commented on #60
`2018-12-10 10:25:40.975 24854-30083/<<package_id>> I/art: Rejecting re-init on previously-failed class java.lang.Class<com.evernote.android.job.gcm.PlatformGcmService>: java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/gms/gcm/GcmTaskService;
2018-12-10 10:25:40.975 24854-30083/<<package_id>> I/art:     at boolean com.evernote.android.job.GcmAvailableHelper.isGcmApiSupport

[2018-12-12 20:12] shirlymanor commented on #60
I search for this error in StackOverflow and they suggest:

* File -> Invalidate Cache and restart
* Update com.android.support

Hope that helps

[2018-12-28 09:56] shaktisinh commented on #57
make sure your file length is not 0

[2019-01-03 10:05] yakirp commented on #78
Hi,
I'm sorry for the late response.

That looks like a dependency conflict, we need the see their dependency tree to understand

```gradle dependencies```

Best

[2019-01-07 16:32] strausr commented on #72
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-01-07 16:32] #72 closed

[2019-01-17 14:38] idobarnoam commented on #60
@iguerendiain Did @shirlymanor's response helped?

[2019-01-17 15:04] iguerendiain commented on #60
Sorry for the delay, I was not even aware there was another comment. Cache invalidation does nothing. However, a few weeks ago we updated all the libraries of the app and solved all conflicts and patches in dependencies, including migrating to AndroidX and using all the latest versions of each library. After all that work the error is not showing.

I would like to be clear in the fact that the upl

[2019-01-17 22:59] shirlymanor commented on #60
Thanks for the update. Happy to hear that the new version works.

[2019-01-17 22:59] #60 closed

[2019-02-11 11:23] Jeff11 opened #88 "WakeLockUtil.startWakefulService crash"
This issue https://github.com/evernote/android-job/issues/361 happens on 1.3.0-alpha09 without WorkManager.

Only Android 8 is affected
[code]

[2019-02-15 19:27] aditimadan-Cloudinary commented on #88
Can you please share what Cloudinary related issue are you experiencing and I will be happy to help.

[2019-02-16 11:11] Jeff11 commented on #88
Whoops, I posted this on the wrong page. This has nothing to do with cloudinary. Sorry.

[2019-02-17 08:28] #88 closed

[2019-03-05 09:57] kshitij-sminq opened #89 "Upload error on OnePlus 5T"
Cloudinary works fine for me except on a OnePlus 5T device. I get upload onProgress() callbacks upto 100% and then I get a onError() callback with this on logs:

`EOFException in RealBufferedSource.readUtf8LineStrict()`

Details:
SDK v1.26.0,
AndroidX enabled,
uploading video ~20MB,
compileSdkVersion 28,
sourceCompatibility JavaVersion.VERSION_1_8,
targetCompatibility JavaVersion.VERSION_1_8.

I c

[2019-03-11 20:06] yakirp commented on #89
Hi @kshitij-sminq ,
We tried to reproduce this on our end (same device) with no success.
Could you please share the full stack trace?

[2019-03-12 10:51] Siddharthflo commented on #57
Any update on this issue? I am facing the same issue with Indian languages(Marathi/mr)

[2019-03-12 13:20] igy commented on #76
I'm going to close this as it seems the answers above should cover this; if you have any further issues please open a new issue or contact our support team via https://support.cloudinary.com

[2019-03-12 13:20] #76 closed

[2019-03-12 13:29] igy commented on #57
Hi all, and especially to Siddarth who posted today- If you're still seeing this issue, may I ask which version of the SDK you're using and for an updated example?

This issue is still open at the moment but I've checked with the SDK team and we believe this may be resolved in v1.24.1 or later of our Android SDK due to changes in the underlying Java library, the version of which was updated in #67

[2019-03-13 11:31] Siddharthflo commented on #57
Hi igy,
Currently, I am using v1.24.0

[2019-03-13 12:43] igy commented on #57
Hi Siddarth - can you please try with v1.24.1? Or preferably with the current version, v1.26.0 ?

[2019-03-21 13:38] Siddharthflo opened #90 "How can we pause or abort on going upload ?"

[2019-03-24 09:34] yakirp commented on #90
Hi,
You can cancel the request, please see this:
https://github.com/cloudinary/cloudinary_android/blob/4e8be2e6510add3f6d8db2f240950911cfb2d97a/lib/src/main/java/com/cloudinary/android/RequestDispatcher.java#L31

Please let me know if it works for you.
Thanks

[2019-03-29 08:33] avinashSminq commented on #90
Same problem i facing with iOS app, I want to cancel an ongoing upload, how i can I handle it as i could not find any requestId for iOS.

[2019-03-29 15:04] shirlymanor commented on #90
You can cancel the upload request. for example:
`let request = cloudinary.createUploader().signedUpload(url: URL(string: "http://res.cloudinary.com/demo/image/upload/sample")!, params:params);

request.cancel()
`

[2019-03-30 07:06] avinashSminq commented on #90
Thanks for the update Shirly

[2019-03-31 00:08] #90 closed

[2019-04-02 10:36] kunall17 opened #91 "MediaManager takes too much time to generate the media url"
This is the tracing of a bindViewHolder in a recyclerView for displaying videos using ExoPlayer.
Where the methods to generate the URL's are taking a lot of time, which was unexpected.

A snippet of the code is here, this method is taking 20.41 ms which seems to be a lot for generating an URL.

[code]
<img width="891" alt="Screenshot 2019-04-02 at 4 00 34 PM" src="https://user-images.githubusercon

[2019-04-03 12:03] yakirp commented on #91
Hi @kunall17,

Can you please elaborate a bit on how you calculated the 20 millis benchmark? Is this from the profiling info directly from the bindView method or a separate dry run test?

On a cold started JVM and an idle CPU (say inside a handler.postDelayed of a few seconds with no code running in between) we observed 15-30 millis - But inside an adapter when the app is already running it’s much

[2019-04-10 13:30] kunall17 commented on #91
Hey, sorry for the late reply.

I used `Debug.startMethodTracing("...");` at the beginning of the onBindViewHolder and `Debug.stopMethodTracking()` at the end of the onBind.

Yes this is the results of first binds in the fragment, will bench and let you know the specifics of the later items.

[2019-07-30 13:29] kunall17 opened #94 "MediaManager changes "-" to "sub" while using public id of image in overlay method"
When passing a public id `products:wO_ieThMSrGaI8c-_swfzw-0000000000`  in the overlay method like in the code snippet given

[code]

Which gives me an output of
[code]

Which alters the public Id of the image I've passed before. ( **-** changes to **sub** in the string)

[2019-07-30 18:46] aditimadan-Cloudinary commented on #94
If the value being passed to the overlay is "products:wO_ieThMSrGaI8c-_swfzw-0000000000" then the resultant overlay value will be "l_products:wO_ieThMSrGaI8c-_swfzw-0000000000". What is the value you are expecting? Can you please elaborate the issue in detail.

[2019-07-31 08:48] kunall17 commented on #94
Thanks for the reply, but the generated public id is not the same for the overlay image
In the code down below
[code]
Here I get the result string as `l_wO_ieThMSrGaI8csub_swfzw-0000000000` which alters the public id of my image.

I'll highlight the difference where the publicId is changing - l_wO_ieThMSrGaI8`csub_`swfzw-0000000000

Let me know If I am understanding things a bit wrong?
We are usin

[2019-07-31 17:31] shirlymanor commented on #94
@kunall17 In order to provide better feedback, can you please provide the expected result?
For example:
http://res.cloudinary.com/marsplay/image/upload/l_products:wO_ieThMSrGaI8c-_swfzw-0000000000,w_100/sample

[2019-08-05 07:00] arunammu opened #95 "Invalid Json Response"
Im getting invalid JSON while uploading a file
Exception:Invalid JSON response from server A JSONObject text must begin with '{' at 1 [character 2 line 1]

[2019-08-05 10:54] yakirp commented on #95
Hi!
Could you please share more information like the code you're using, and maybe the file you're trying to upload?

I'm looking forward to your response.

Thanks

[2019-08-19 10:10] walkermanx opened #96 "Android O - java.lang.RuntimeException: An error occurred while executing doInBackground()"
Android O - java.lang.RuntimeException: An error occurred while executing doInBackground()

 coz com.evernote.android.job is a dependency of  lib .and com.evernote.android.job use a clz named JobIntentService which has a compatibility problem on Android O+ ,so can you guys fix it ,plz?
this problem will cause crashes on our production app .  [here maybe is the solution](https://medium.com/@mohamed

[2019-09-15 13:57] yuval-cloudinary commented on #95
Please share your cloud name, so we can track this down.
Thanks!

[2019-09-23 06:16] nvhaiwork opened #98 "How to upload multiple images one by one and get results"
I want to upload more than 1 images using loop and MediaManager.get().upload.callback()...
the compile the results in to one but I cant coz callback is asynchronous call, is there any way to make upload with the callback as synchronous call?

[2019-09-23 08:03] yakirp commented on #98
Hi,

For synchronous uploading, please use something like this:

[code]

Please let me know if it works for you.

Cheers

[2019-09-23 08:25] nvhaiwork commented on #98
Thks for you reply but I cant use your code, let me explain:
My code currently using exactly what you recommend above, but with Android Q we cant use
`new File("dog.mp4")`
due to "scoped external storage access"
"Note: Apps that use scoped storage don't have direct kernel access to paths like /sdcard/DCIM/IMG1024.JPG."

So I have to use
`cloudinary.uploader().upload(Uri.parse("uriPath")`
but there

[2019-09-23 09:02] yakirp commented on #98
Hi,

Please try this code:

[code]

Please let me know if it works for you.

[2019-09-23 09:13] nvhaiwork commented on #98
Works now.
Thanks for your help !!!

[2019-09-23 09:13] #98 closed

[2019-09-27 22:24] jdale38 opened #99 "exif tags not honored when applying image preprocessing chain"
It looks like `BitmapDecoder` used in `ImageProcessChain` does not rotate images with the included exif orientation tags on a photo.  Not including any preprocessing chains for photo uploads resolves this issue.

A possible solution -> applying `Matrix#postRotate()` with a newly created bitmap during bitmap decoding (https://github.com/cloudinary/cloudinary_android/blob/master/lib/src/main/java/co

[2019-10-08 12:22] yakirp commented on #99
Hey @jdale38,

Could you please add the steps to reproduce this issue?

Thanks
-yakir

[2019-10-08 20:11] jdale38 commented on #99
Steps:
1.  include `Limit` as a preprocessing step for `MediaManager`
2.  take a photo (using system camera) in portrait mode
3.  upload photo taken from step 2 via `MediaManager.upload(portraitPhotoUri).preprocess(limit).dispatch()`

Let me know if there's anything else I can shed some light on.

Thanks,
Josh

[2019-10-09 14:07] mikaelbartlett opened #100 "Remove android:fullBackupContent from AndroidManifest.xml"
I get a merge error with other libraries that also contains this.

Please remove this as the app should decide how to handle backup.

[2019-10-10 09:30] roeeba commented on #100
Hi @mikaelbartlett, can you please let us know with which library it conflicts?

[2019-10-17 09:16] mikaelbartlett commented on #100
Hi @roeeba

https://github.com/pusher/push-notifications-android/issues/89 here's the link to the other library.

[2019-10-17 09:24] roeeba commented on #100
Thanks, @mikaelbartlett. I'm assigning it to our mobile engineer to further investigate.

[2019-10-20 07:54] roeeba commented on #99
Hi @jdale38. We've forwarded this issue to our engineers to review. Updates to follow.

[2019-10-24 19:37] jdale38 commented on #99
@roeeba thank you!  Let me know if there's any other info you and your team needs.

[2019-10-29 09:05] roeeba commented on #99
Hi @jdale38. We've tried to recreate the issue (tested on real device and the emulator as per their spec; pixel 2, android 9) and we didn't see an issue with the rotation of the image. EXIF data is indeed not retained (seems like a minor issue, which we'll investigate) but the rotation is still handled correctly automatically.
Can you please let us know how are you getting the URI to the picture i

[2019-11-21 12:16] shashankkapsime opened #102 "Url generated by MediaManager.get().url() is not valid"
I am getting "https://image/upload/v1/uploaded_imgs/ewd6psmcqckoubqdeluu" this url while generating it from `MediaManager.get().url()`

[2019-11-21 13:41] michalkcloudinay commented on #102
Hi @shashankkapsime, can you please share your upload code?

[2019-11-25 05:01] goeson7 commented on #96
It seems to be resolved in [android-job v1.3.0](https://github.com/evernote/android-job/releases/tag/v1.3.0). Is there a version update schedule?

[2019-11-25 11:27] aleksandar-cloudinary commented on #96
Hi @goeson7. I see you also raised this with us via Support where one of my colleagues has replied.  Just sharing the update in this thread too for anyone that runs across this. We've created a ticket internally for us to update the dependency, but for now, you can update the build file directly to include the v1.3.0 version for this library.

[2019-12-24 13:07] #102 closed

[2020-01-23 17:02] Ferdzz opened #107 "Deprecated reference to gradle compile in README"
The README.md file refers to the [installation steps when using Gradle](https://github.com/cloudinary/cloudinary_android/blob/master/README.md#gradle-integration). This is the same as documented in the [introduction to integration](https://cloudinary.com/documentation/android_integration#overview) on the Cloudinary website (which by the way suggests using 1.24, rather than the latest stable 1.26,

[2020-02-17 08:17] nitzanj commented on #107
Thanks, fixed.

[2020-02-17 08:17] #107 closed

[2020-02-29 21:08] luke537 commented on #57
I've tried using version 1.24.1 and 1.26.0 and I'm still having this issue, even if I try to change to locales such as en-US. Is there any solution for this yet?
My code is:
`String requestId = MediaManager.get().upload(photoUri).unsigned(CLOUD_NAME).option("resource_type", "auto").dispatch();`

Would really appreciate some help with this as the library is unusable for me with this issue.
Thanks.

[2020-03-01 12:08] idobarnoam commented on #57
@luke537 The fix was introduced on 1.24.1, and from my understanding from the thread, it works for @Siddharthflo as well.

Are you not able to upload anything to Cloudinary, regardless of the locale?
Could you share the flow that you are doing when you are getting this error?
Also could you share tjhe Android version?

[2020-03-02 13:12] luke537 commented on #57
@idobarnoam Currently, I am not able to upload anything to Cloudinary from Android. Please see my flow below:

`public class MyFragment extends Fragment {
...
...
private void dispatchTakePictureIntent() {
        Intent takePictureIntent = new Intent(MediaStore.ACTION_IMAGE_CAPTURE);
        // Ensure that there's a camera activity to handle the intent
        if (takePictureIntent.resolveActivit

[2020-03-04 14:34] luke537 commented on #57
@idobarnoam @yakirp Hi, is there any update on this?

[2020-03-08 10:15] idobarnoam commented on #57
@luke537 Sorry for the response delay.

What I'm understanding is that currently, no upload is possible on your project regardless of locale.

Is that the case?
Are you getting the error that is noted on the thread 's subject or a different one?

I'm asking since if you can't upload at all it might be a different issue not related to locale so it might be best to open a request at support@cloudina

[2020-05-11 07:33] darothub commented on #57
Hi, is there any update on this?

[2020-05-11 10:38] idobarnoam commented on #57
Hi @darothub
Could you elaborate on what it is you are experiencing?
I'm asking since the issue in the subject was handled on version 1.24.1.

[2020-05-11 10:53] darothub commented on #57
Ok. I was trying to upload an image from android studio. I used the manifest config file to initialized MediaManager. Then the following

[code]
and all I get is Invalid Content Range header error
I am currently using version 1.27.0.

Sincerely, I have since moved to firebase but thought Cloudinary would be handy

[2020-05-11 21:58] aditimadan-Cloudinary commented on #57
@darothub Can you please share the original file you tried uploading? Was it taken through the camera or uploaded from a local file system? If you could also share your cloud name I will be able to check the logs. You can always raise a support ticket here: https://support.cloudinary.com/hc/en-us/requests/new if privacy is a concern.

[2020-05-18 08:54] darothub commented on #57
Hi @aditimadan-Cloudinary sorry for the late response. Yes the image is taken through the camera and a local file system. Currently I'm using my personal account(cloud name: carflux) for test. It turns out we are still interested in using Cloudinary. So we will getting a paid storage if all works well. Find the image url below:
https://firebasestorage.googleapis.com/v0/b/anap-covid-app.appspot.com

[2020-05-19 14:45] michalkcloudinay commented on #57
Hi @darothub, Can you please check and tell us what is the device current language?
You can find how to do that here:
https://stackoverflow.com/questions/4212320/get-the-current-language-in-device

[2020-05-21 18:16] darothub commented on #57
@michalkcloudinay Apologies once again for replying late. I have been handling a lot but still need to use your service. The device current language is English. Thanks in anticipation

[2020-05-22 19:10] darothub commented on #57
@michalkcloudinay @aditimadan-Cloudinary We have purchased the official cloudinary account for our application.  Any update on this issue?

[2020-05-24 09:03] michalkcloudinay commented on #57
@darothub In order to investigate your issue, can you please open a ticket here: https://support.cloudinary.com/hc/en-us/requests/new?

[2020-06-20 07:09] harsha692 opened #116 "* What went wrong: A problem occurred configuring project ':app'. > SDK location not found. Define location with an ANDROID_SDK_ROOT environment variable or by setting the sdk.dir path in your project's local properties file at 'C:\xxxx-master\xxxx-master\android\local.properties'."
## Bug report for Cloudinary Android SDK
Before proceeding, please update to latest version and test if the issue persists

## Describe the bug in a sentence or two.
…

## Issue Type (Can be multiple)
[ ] Build - Can’t install or import the SDK
[ ] Performance - Performance issues
[ ] Behaviour - Functions aren’t working as expected (Such as generate URL)
[ ] Documentation - Inconsistency between

[2020-06-21 12:29] michalkcloudinay commented on #116
Hi @harsha692, This is a general android error and not related to Cloudinary. It seems like a problem with your Android Studio configuration where the Android SDK path is not found.

[2020-06-23 16:49] josmas opened #117 "Web API calls behave differently on iOS and Android (and cURL)"
## Bug report for Cloudinary React SDK
This is not an issue with the react SDK but when trying to run a fetch call directly to the API. Apologies if this is not the place to open this, couldn't find other repo.

## Describe the bug in a sentence or two.
An api DELETE call such as:
[code]

From cURL this would be:
[code]
cURL and iOS succeed in the call; Android returns a 401.

[code]
while iOS res

[2020-06-23 19:44] asisayag2 commented on #117
Moved to the correct repo.
@nitzanj

[2020-06-25 10:41] michalkcloudinay commented on #117
Hi @josmas, In order to further investigate your issue, please open a ticket at https://support.cloudinary.com, with your cloud name. Thanks

[2020-07-05 14:02] michalkcloudinay commented on #116
@harsha692 Did you manage to resolve this issue?

[2020-07-27 10:53] nitzanj commented on #117
This was handled through the support. For posterity, the issue is rooted in Java's `URLConnection` behaviour which doesn't accept `user:password` as part of the URL. Basic authentication is only supported through headers.

[2020-07-27 10:53] #117 closed

[2020-07-27 13:53] josmas commented on #117
Thanks @nitzanj
For completeness, this is the response I got:

[code]

[2020-09-07 07:11] roeeba commented on #116
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2020-10-09 16:40] AlexW00 commented on #95
Any fix??

[2020-10-11 12:39] michalkcloudinay commented on #95
Hi @AlexW00, In order to assist with your issue please open a support ticket with your cloud name at support@cloudinary.com. Thanks!

[2020-10-16 12:03] SG-shubhammaurya commented on #31
A problem occurred configuring root project 'connectivity'.

[2020-10-17 17:59] victorli-cloudinary commented on #31
Hi @SG-shubhammaurya, could you copy and paste the whole error? Have you imported the root folder as mentioned above?

[2020-10-22 16:28] mateot1 opened #119 "ANRs from com.evernote.android.job.JobBootReceiver"
We have many (100+) reports of ANRs from the Google Play Console coming from `com.evernote.android.job.JobBootReceiver` when receiving Intents with the action `android.intent.action.BOOT_COMPLETED`. We do not directly use this library and Cloudinary seems to be the only source of the transitive dependency. We're a couple versions behind (1.27.0), but don't think there's been any evernote job chang

[2020-10-26 15:10] michalkcloudinay commented on #119
@mateot1 In order to further investigate can you please provide more details?
* What’s the variance of the errors across the device, and what’s the percentage of errors (e.g. are they in the millions?)
* Can you please provide a full stack trace of the error?
* Are you running the code in a boot-complete event?
If privacy is a concern you can open a support ticket to support@cloudinary.com.

[2020-10-26 16:36] mateot1 commented on #119
After further investigation I am thinking this is just a coincidence of these things all happening at app start.
- There are 15 or so different errors being reported, most are shown happening in `com.evernote.android.job.JobBootReceiver`, however there are a couple that happen in google's `JobInfoSchedulerService` and one happening from a different library's broadcast receiver
- We are _not_ direc

[2020-10-27 08:30] michalkcloudinay commented on #119
@mateot1 Thanks for the update. please let us know if there is anything we can assist with.

[2020-11-09 03:00] mateot1 commented on #119
Closing this as it turned out to be unrelated to this evernote receiver. Thanks

[2020-11-09 03:00] #119 closed

[2021-02-12 10:35] dss-kenya opened #121 "Transformation job error on Android 5.0"
There seems to be an issue uploading videos from Android 5.0. When trying to "preprocess" a video, there is an IllegalStateException thrown with the following stacktrace:

[code]

Removing all the parameters except for requestId, width, height and frameRate, results in the error below when supplying parameters to `videoTranscodingChain`

[code]

Removing `preprocess(....)` during an uploadRequest

[2021-02-14 11:40] michalkcloudinay commented on #121
Hi @dss-kenya,

In order to further investigate, can you please let me know if you are able to play this video with ExoPlayer on android 5.0 without uploading it to Cloudinary?

[2021-02-16 11:22] michalkcloudinay commented on #121
Thanks, @dss-kenya for confirming. Can you please open a ticket at support@cloudinary.com and include the video so we can further investigate?

[2021-03-15 19:13] #121 closed

[2021-07-16 21:02] Cronch opened #122 "Migrate away from any JCenter dependencies"
## Bug report for Cloudinary Android SDK
Before proceeding, please update to latest version and test if the issue persists

## Describe the bug in a sentence or two.
When trying to remove jcenter from a project where we are using cloudinary sdk 1.30.0 we found an error because of an internal library (com.linkedin.android.litr:litr:1.1.0) that is not found on other repositories.
You could update th

[2021-07-18 09:34] michalkcloudinay commented on #122
Hi @Cronch,
Thanks for reporting this. We opened an internal request to look into this issue, and we will update here once we have any new insights.

[2021-07-20 14:56] Cronch commented on #122
Thank you!

[2021-08-28 12:10] bobyhw opened #123 "Bobyhwupload"
Feature request for Cloudinary Android SDK
…(If your feature is for other SDKs, please request them there)

## Explain your use case
… (A high-level explanation of why you need this feature)

## Describe the problem you’re trying to solve
… (A more technical view of what you’d like to accomplish, and how this feature will help you achieve it)

## Do you have a proposed solution?
… (yes, no? Please

[2021-08-28 12:11] bobyhw commented on #123
Yhank

[2021-08-28 12:18] dannyv-cloudinary commented on #123
Hi @bobyhw.

I'm going to close this off as there is no information provided. Please feel free to open another issue if required, filling in all the required details.

Thanks,
-Danny
Developer Support Engineer @ Cloudinary

[2021-08-28 12:18] #123 closed

[2022-01-02 14:38] OsmanDroid commented on #122
Any update on this?

[2022-01-03 11:35] michalkcloudinay commented on #122
@OsmanDroid  @LinusMuema, currently I don't have an ETA to share with you. I will let you know once we have new updates.

[2022-01-12 19:28] mrea1 commented on #122
This is blocking us from removing JCenter also

[2022-01-13 13:52] michalkcloudinay commented on #122
We are currently working on a fix which should be released soon. We will keep you posted on this thread.

[2022-02-11 11:10] tekinarslan commented on #95
@arunammu  did you check your CLOUDINARY_URL. from meta data in manifest.
I met same error and solve with meta data init.

[2022-02-15 10:22] vasudevjogani opened #137 "Targeting S+ (version 31 and above)"
E/JobProxy14: com.app.xyz: Targeting S+ (version 31 and above) requires that one of FLAG_IMMUTABLE or FLAG_MUTABLE be specified when creating a PendingIntent.
    Strongly consider using FLAG_IMMUTABLE, only use FLAG_MUTABLE if some functionality depends on the PendingIntent being mutable, e.g. if it needs to be used with inline replies or bubbles.

[2022-02-15 13:14] adimiz1 commented on #137
Hi @vasudevjogani
We plan to release a new major version for the Android SDK by Sunday, If you want to submit a PR for us to review with the change by then we can put it into this release feel free to do so

[2022-02-17 13:57] RichMBateman opened #139 "How do you create a Transformation object in Kotlin?"
## Bug report for Cloudinary Android SDK
I'm using the Cloudinary Android SDK in a Kotlin Android application.
When I try to create a Transformation() object, I cannot because of compile-time error "Not enough information to infer type variable T".  I see that Transformation is a parameterized type, but I cannot figure out how to instantiate one in Kotlin.

@SuppressWarnings({"rawtypes", "unchecke

[2022-02-20 13:46] adimiz1 commented on #139
Hi [RichMBateman](https://github.com/RichMBateman)
There are multiple answers here:
You can use our [Kotlin SDK](https://github.com/cloudinary/cloudinary_kotlin) - the Kotlin SDK supports url generation only and not the other features implemented in the Android SDK
If you need to use the Android SDK (because upload functions are required as well) here’s an example of how to use the transformation

[2022-02-20 13:46] #139 closed

[2022-02-22 12:19] michalkcloudinay commented on #122
We released a new version of the Android SDK with a fix for this issue.
Please update to the new version and let us know if you have any issues.
Thanks

[2022-02-22 12:21] #122 closed

[2022-02-28 08:27] roeeba commented on #96
Evernote dependency was updated to version 1.4.2.

[2022-02-28 08:27] #96 closed

[2022-04-25 12:31] slice-sunil opened #144 "ANR in Android App for evernote library"
## Bug report for Cloudinary Android SDK
ANR in com.evernote.android.job.JobRescheduleService

## Describe the bug in a sentence or two.
We are unable to reproduce in test build but In production, several customers are getting ANR.
We are using cloudinary version 1.26.0

## Issue Type (Can be multiple)
[ ] Build - Can’t install or import the SDK
[ ] Performance - Performance issues
[ ] Behaviour -

[2022-04-26 09:48] tamaracloudinary commented on #144
Hi there,
ANR can be caused by many reasons. Could you please share some more details?
Thanks,
Tamara

[2022-05-05 08:51] slice-sunil commented on #144
@tamaracloudinary We use cloudinary to upload images and mp4 file. We are unable to reproduce the ANR. But in our play store console we can see ANR with the mentioned message. We are not using evernote sdk in our app.

[2022-05-06 09:04] francistagbo commented on #144
@slice-sunil probably, you could try to update your SDK version to the latest one and let us know how it goes?

[2022-06-30 19:33] isles1217 commented on #137
Hey there! I'm still seeing these errors on version 2.2.0. Any chance you could revisit this issue? Thanks!

[code]

[2022-07-03 14:29] michalkcloudinay commented on #137
Hi @isles1217,

Can you please let us know if this is happening when running the sample project?  Or when implementing the SDK in your project?

[2022-07-03 15:26] isles1217 commented on #137
I'm seeing this error when interesting the SDK into my project. Thanks!

[2022-07-03 16:02] michalkcloudinay commented on #137
Thanks for getting back.

We are unable to reproduce this issue on our end. Can you please provide me with the line in the code that pops this warning? Also, can you please make sure that the build.gradle / pom.xml file is synced after updating the latest version of the Cloudinary SDK?
Looking forward to your updates,
Thanks
Michal

[2022-07-05 21:38] isles1217 commented on #137
Hi Michal,

Version `2.2.0` was just integrated into our project and is the first/only version of the SDK, so my `build.gradle` file is definitely up-to-date. Based on the stacktrace, I'm guessing the issue is that the Cloudinary SDK seems to be using Evernote's Deprecated `JobManager` SDK, which, according to its own [Github readme](https://github.com/evernote/android-job), shouldn't be used anym

[2022-08-23 12:46] dimaportenko commented on #137
Any updates here? I have the same issue. Sounds like it should be a simple fix for the new android target release. Something like https://stackoverflow.com/questions/67045607/how-to-resolve-missing-pendingintent-mutability-flag-lint-warning-in-android-a

[2022-08-23 15:50] dimaportenko commented on #137
I think I solved my issue by adding `resource_type` option
[code]

[2022-08-23 17:42] aksjoshi1 commented on #99
@dimaportenko Thank you for the update. We will have a look into it.

[2022-08-24 22:00] victorli-cloudinary commented on #137
Thanks for the update @dimaportenko. @isles1217 can you try the above?

[2022-09-14 01:21] isles1217 commented on #137
@victorli-cloudinary that didn't help me. the issue isn't that the upload isn't working, but that it's using deprecated libraries, and poses a risk that it could break on newer Android OS versions. Any update as to when this will be fixed and when the updated SDK will be available?

[2022-09-20 08:57] dev-lcc opened #146 "Data cannot occupy more than 10240 bytes when serialized"
## Bug report for Cloudinary Android SDK
Before proceeding, please update to latest version and test if the issue persists
- Using the latest `master-SNAPSHOT` build, which includes PR [Replace EverNote with Android WorkManager](https://github.com/cloudinary/cloudinary_android/pull/145)

## Describe the bug in a sentence or two.
- Cloudinary Upload operation throws exception "Data cannot occupy mo

[2022-09-20 09:38] adimiz1 commented on #146
Hi dev-lcc
Thank you very much for reporting this issue
Until an official fix will be introduced I suggest sending the path to the file and not the byte array itself
You can wrap it with `FilePayload` class
For example:
```new FilePayload(data.toPath().toString())```
Where data is a `File` object

[2022-09-20 12:48] dev-lcc commented on #146
PR Filed:
https://github.com/cloudinary/cloudinary_android/pull/147

[2022-09-20 12:53] dev-lcc commented on #146
@adimiz1 I have used a separate approach for creating a placeholder file as I believed that the `FilePayload` class was intended to store Image/Video data(as Base64 encoded string).

[2022-09-21 12:51] dimaportenko opened #148 "java.lang.RuntimeException: General Error on signed upload with chunk_size option"
When the size of the uploading file is bigger then `chunk_size` option I'm getting the following error
[code]

I'm using android SDK in this lib https://github.com/gosourcellc/react-native-cloudinary-sdk. Right now it uses 100mb chunk_size to overcome this issue.

[2022-09-21 15:57] dimaportenko commented on #148
I can confirm there is no such method `upload_large`. I searched for it but had no luck.
- Here the link you send me
![CleanShot 2022-09-21 at 18 51 28@2x](https://user-images.githubusercontent.com/6594232/191552216-8412a1b1-8f6f-483f-9daf-5e9cacdfdb43.png)
- here is android studio
<img width="713" alt="CleanShot 2022-09-21 at 18 48 20@2x" src="https://user-images.githubusercontent.com/6594232/191

[2022-09-21 15:58] dimaportenko commented on #148
Please check my source code (upload method) and help me to apply `upload_large` https://github.com/gosourcellc/react-native-cloudinary-sdk/blob/main/android/src/main/java/com/reactnativecloudinarysdk/CloudinarySdkModule.java

[2022-09-21 16:01] dimaportenko commented on #148
Also, I'm using files less than 100MB.

[2022-09-21 20:41] adimiz1 commented on #148
Hi @dimaportenko
Thank you very much for reporting this issue.
Can you please try to run your code with the following:
```MediaManager.get().getCloudinary().uploader().uploadLarge(file, options)```

[2022-09-23 11:00] dimaportenko commented on #148
Ok, I think I was able to do upload like this
[code]

How can I get `requesId` here? I would like to be able to cancel https://cloudinary.com/documentation/android_image_and_video_upload#cancel_an_upload
[code]

[2022-09-23 14:26] tommyg-cld commented on #148
Hi @dimaportenko , the request id should be included in the response header we send back.

Please let me know if you have any other questions or queries.

Kind Regards,
Thomas

[2022-09-23 14:42] dimaportenko commented on #148
@tommyg-cld can you share a code sample? Not sure how to use it. And I'm not able to find it in the documentation.

[2022-09-23 16:26] tommyg-cld commented on #148
@dimaportenko so you will need to use the dispatch method and this should return the request id per https://cloudinary.com/documentation/android_image_and_video_upload#mediamanager_upload_method

e.g. `String requestId = MediaManager.get().upload("imageFile.jpg").dispatch();`

[2022-09-23 18:16] dimaportenko commented on #148
@tommyg-cld I'm completely confused. I'm this one
[code]
but I have the error, please see the first message of the thread. And you asked me to use https://cloudinary.com/documentation/upload_images#chunked_asset_upload which doesn't exist. Then @adimiz1 said I have to use
[code]
It works for upload but there is no request Id. So I can't cancel it. Please help me, I don't understand

[2022-09-23 18:40] tommyg-cld commented on #148
@dimaportenko apologies, that was just an example,

does the below work?

`String requestId = MediaManager.get().getCloudinary().uploader().uploadLarge(file, options).dispatch();`

[2022-09-23 18:50] dimaportenko commented on #148
Nope.
`uploadLarge` return `Map` and it hasn't `dispatch` method.

[2022-09-26 08:32] dimaportenko commented on #148
Also, this one isn't working for signed request
[code]

[2022-09-26 10:14] tommyg-cld commented on #148
@dimaportenko let me check internally with the team and will get back to you.

[2022-09-28 04:10] adimiz1 commented on #146
@dev-lcc thank you very much for submitting your PR, we'll go through it and will contact you if needed

[2022-09-28 09:22] dimaportenko commented on #148
So I did more testing and I can confirm that unsigned upload works just fine. But signed request gives me a general error from the original message of this GitHub issue. It's same for
[code]

The error message doesn't give any tips. Can you help me with what is wrong here?
[code]

[2022-09-28 10:53] tommyg-cld commented on #148
@dimaportenko apologies for the delay in getting back.

So right now dispatch is not supported with upload_large, the request-id will only return when using the MediaManager object to upload. e.g.

`MediaManager.get().upload("imageFile.jpg").dispatch();`

We are checking further if we can support it.

Regarding the general error, please could you give us exactly how you sign your requests? I'm see

[2022-09-29 10:01] tommyg-cld commented on #148
@dimaportenko we are taking a look so will get back asap.

[2022-10-02 04:16] adimiz1 commented on #146
@dev-lcc thank you very much for your submit, your PR was merged with the fix, therefore I'm closing down the issue.
If the problem persists please feel free to open another issue

[2022-10-02 04:16] #146 closed

[2022-10-02 09:03] tamaracloudinary commented on #148
Hi @dimaportenko,

Can you please open a support ticket here: https://support.cloudinary.com/hc/en-us/requests/new with your cloud name and include more information on this?

This is what we know so far:
1. You are trying to develop the SDK for React native using our Android SDK
2. You are trying to upload a large file (less than 100 MB)
3. You are trying to sign the request (please share with us

[2022-10-25 20:31] dimaportenko commented on #148
Hi there, any updates?

[2022-10-25 21:14] isles1217 commented on #137
It looks like this issue can be closed. Thanks! 🎉

[2022-10-26 00:54] rnamba-cloudinary commented on #148
Hey @dimaportenko,

We're still waiting on news from the internal team. Could you follow up on a ticket for this issue so we can keep the line of communication open there?

[2022-10-26 07:56] #144 closed

[2022-10-26 07:56] adimiz1 commented on #144
Evernote was replace with Android WorkManager.

[2022-10-26 07:57] #137 closed

[2022-10-26 08:01] dimaportenko commented on #148
It's already a month passed already and no updates. It doesn't look like anybody working on this issue.

I didn't get any updates there, doesn't look helpful to me.

[2022-11-14 08:26] lenhatquang97 opened #150 "Targeting S+ (version 31 and above) requires that one of FLAG_IMMUTABLE or FLAG_MUTABLE"
## Describe the bug in a sentence or two.
Error log: Targeting S+ (version 31 and above) requires that one of FLAG_IMMUTABLE or FLAG_MUTABLE. Although I can upload multiple files to Cloudinary, I don't know how to hide error log.

## Issue Type (Can be multiple)
[ ] Build - Can’t install or import the SDK
[ ] Performance - Performance issues
[ ] Behaviour - Functions aren’t working as expected (Su

[2022-11-14 09:57] michalkcloudinay commented on #150
Hi @lenhatquang97,

Can you please upgrade the SDK version to the latest version - 2.3.0, and let me know if you still see this error?
Looking forward to your updates,
Thanks

[2022-11-14 10:00] lenhatquang97 commented on #150
Thanks. I have upgraded to 2.3.0 and there is no error log for this. I will close this thread.

[2022-11-14 10:00] #150 closed

[2022-11-15 07:52] tamaracloudinary commented on #148
Hi @dimaportenko, I replied to the ticket you opened.
Let's continue this thread there.